/* CSS Document */
/* CSS Reset *//* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Actual CSS */
body {
	background-color:#000000;
}
.tinkerCursor{
	cursor:url('../images/tinkerCursor.cur'),auto;
}
#wrapper {
	width: 1200px;
	background:#000;
	margin: 0 auto;
}

#header {
	height: 150px;
	position:relative;
	z-index:1;
}

#header #logo {
	position:absolute;
	bottom: -40px;
	left: 40px;
	z-index:500;
}

#header #tinker {
	position:absolute;
	left:55px;
	bottom:-3px;
	z-index:999;
	width:25px;
	height:25px;
	background:url('../images/tinker.gif') no-repeat;
}

#container {
	position:relative;
	height: 720px;
	background-image:url('../images/uciNeverland.png');
}

#entersite {
	height: 200px;
}

#weeklyevents {
	width:900px;
	height:400px;
	margin: 0 auto;
}

#ppshadow{
	border:0;
	padding:0;
	position:absolute;
	background:url('../images/ppshadowstandleft.png');
	background-repeat:no-repeat;
	width:100px;
	height:150px;
	left:0px;
	top:0px;
}

#footer {
	height: 100px;
	position:relative;
}

#logos {
	position:absolute;
	left: 40px;
	top:-60px;
}

.logo {
	width:100px;
	height:100px;
}

#copyright {
	position:absolute;
	color:#9CF;
	left:100px;
	top:50px;
}

/* Chasing Shadow */
.skewleft {
	-webkit-transform-origin:right;
	-moz-transform-origin:right;
	-ms-transform-origin:right;
	-o-transform-origin:right;
	transform-origin:right;
	-webkit-transform:skew(20deg,20deg) rotatey(50deg);
	-moz-transform:skew(20deg,20deg) rotatey(50deg);
	-ms-transform:skew(20deg,20deg) rotatey(50deg);
	-o-transform:skew(20deg,20deg) rotatey(50deg);
	transform:skew(20deg,20deg) rotatey(50deg)
}
.skewright {
	-webkit-transform-origin:left;
	-moz-transform-origin:left;
	-ms-transform-origin:left;
	-o-transform-origin:left;
	transform-origin:left;
	-webkit-transform:skew(-20deg,20deg) rotatey(50deg);
	-moz-transform:skew(-20deg,20deg) rotatey(50deg);
	-ms-transform:skew(-20deg,20deg) rotatey(50deg);
	-o-transform:skew(-20deg,20deg) rotatey(50deg);
	transform:skew(-20deg,20deg) rotatey(50deg)
}
.skewtopleft {
	-webkit-transform-origin:bottom right;
	-moz-transform-origin:bottom right;
	-ms-transform-origin:bottom right;
	-o-transform-origin:bottom right;
	transform-origin:bottom right;
	-webkit-transform:skew(20deg,-20deg) rotatex(50deg);
	-moz-transform:skew(20deg,-20deg) rotatex(50deg);
	-ms-transform:skew(20deg,-20deg) rotatex(50deg);
	-o-transform:skew(20deg,-20deg) rotatex(50deg);
	transform:skew(20deg,-20deg) rotatex(50deg)
}
.skewtopright {
	-webkit-transform-origin:bottom left;
	-moz-transform-origin:bottom left;
	-ms-transform-origin:bottom left;
	-o-transform-origin:bottom left;
	transform-origin:bottom left;
	-webkit-transform:skew(-20deg,20deg) rotatex(50deg);
	-moz-transform:skew(-20deg,20deg) rotatex(50deg);
	-ms-transform:skew(-20deg,20deg) rotatex(50deg);
	-o-transform:skew(-20deg,20deg) rotatex(50deg);
	transform:skew(-20deg,20deg) rotatex(50deg)
}
.skewbottomleft{
	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-ms-transform-origin:top right;
	-o-transform-origin:top right;
	transform-origin:top right;
	-webkit-transform:skew(20deg,20deg) rotatey(50deg);
	-moz-transform:skew(20deg,20deg) rotatey(50deg);
	-ms-transform:skew(20deg,20deg) rotatey(50deg);
	-o-transform:skew(20deg,20deg) rotatey(50deg);
	transform:skew(20deg,20deg) rotatey(50deg)
}
.skewbottomright {
	-webkit-transform-origin:top left;
	-moz-transform-origin:top left;
	-ms-transform-origin:top left;
	-o-transform-origin:top left;
	transform-origin:top left;
	-webkit-transform:skew(-20deg,-20deg) rotatey(-50deg);
	-moz-transform:skew(-20deg,-20deg) rotatey(-50deg);
	-ms-transform:skew(-20deg,-20deg) rotatey(-50deg);
	-o-transform:skew(-20deg,-20deg) rotatey(-50deg);
	transform:skew(-20deg,-20deg) rotatey(-50deg)
}
#todaybox_2 {
	background-color: #519FD7;
	height: 210px;
	width: 353px;
}
